html, body{
    margin:0;
    padding: 0;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.Container{
    height: 100vh;
    display: flex;
    flexDirection: column
}

.ChatScreenStyle {
    flex-direction: column;
    display: flex;
}

.Container2{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.Container2 h3{
    padding-left: 10px;
    font-size: 24px;
}

.OnlineListStyle{
    width: 15%;
    background-color: #903386;
    height: available;
    padding: 10px;
}

.OnlineUsersListElement{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.OnlineUsersDivElement{
    border-radius: 50%;
    width: 11px;
    height: 11px;
    margin-right: 10px;
}

.MessageListContainer{
    overflow-y: scroll;
    flex: 1;
}

.MessageListulElement{
    list-style: none;
}

.MessageListliElement{
    margin-top: 13px;
    margin-bottom: 13px;
}

.MessageListSenderUsername{
    font-weight: bold;
}

.MessageListMessage{
    font-size: 15px;
}

.MessageContainer{
    padding: 20px;
    border-top: 1px #4C758F solid;
    margin-bottom: 20px;
}

.MessageForm{
    display: flex;
}

.MessageInput{
    color: inherit;
    background: none;
    outline: none;
    border: none;
    flex: 1;
    font-size: 16px;
}

.login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #903386;
}

.login-header {
    background: #903386;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.login-container {
    background: #ebebeb;
    padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login input[type="submit"] {
    background: #903386;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: #905a8d;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
    border-color: #903386;
}

.room {
    list-style-type: none;
}
.room a{
    color: #ffffff;

}